/* Section 5 - Footer Area */
footer{ padding: 5px;}
.site-info{margin-bottom: 20px; border-top: solid 1px #acacac;
    border-bottom: solid 1px #acacac; text-align: center;}
.site-info p{margin-bottom: 0;font-size: 1.1rem;}
