/*!  Section 2 - Body Styles */body{font-family:'Droid Sans',sans-serif;background-color:#959595}
.nopadding{padding:0}.contentdiv{padding:10px;background-color:#fff}.homeblock{padding:0;background-color:#f2f2f2}
.hbheader_date{padding:0}.hbheader_date h6{font-size:1rem;text-align:center;font-weight:bold}
.homeblock_header{padding:0 0 10px 0;border-bottom:1px inset #CCC}.homeblock_content{padding-top:10px}
.hbheader_category{margin-top:-10px;padding:0}.hbheader_category a{float:left;text-align:center;color:#fff}
.hbimage{padding:0}.main{padding:0;border-right:1px solid #003b76;border-left:1px solid #003b76}
.hbimage{padding-top:10px}ul.calendarlist li{list-style:none;background:#a6c7c7;margin-bottom:5px;min-height:60px;padding:3px}
.clanedardayseventslist li{list-style:none}span.today-date a{color:#000;font-weight:bold;font-size:1.4rem;font-style:italic}
span.calendar-today a{color:#000;font-weight:bold;font-size:1.4rem;font-style:italic}
span.day-date a{color:#000;font-size:1.2rem}span.today-date,span.day-date{background:#fff}
.daycontainer{background:#fff;min-height:60px;padding:2px 7px 10px 7px}ul.todayseventslist li{border-bottom:2px solid #eee;background:#fff;min-height:60px;display:inline-block}
ul.todayseventslist li:last-child{border-bottom:0}div.todays-event{border-bottom:2px solid #eee}
div.todays-event:last-child{border-bottom:0}header.page-header{border-bottom:1px inset #333}
div.archive-eventcontainer{border-bottom:1px solid #ccc;margin:5px 0}div.archive-eventcontainer:last-child{border-bottom:0}
p.month{margin-bottom:0;margin-top:12px;margin-left:4px;width:100%;font-weight:bold;color:#003b76;line-height:1.7;font-size:.97rem}
p.day{margin-bottom:0;margin-top:-10px;margin-left:9px;font-weight:bold;color:#003b76}