p{word-break:break-word;font-family:Lato,sans-serif}a{font-family:Lato,sans-serif}
.top-bar-section ul li>a{font-family:Lato,sans-serif}h1,h2,h3,h4,h4,h5,h6,h7{font-family:PT Sans,sans-serif}
.tag a h7{color:#fff}.midpoint-campus-center-news{background:#5b9340}.lccc-sports-and-recreation-news{background:#764f51}
.campus-wide{background-color:#000}.students{background-color:#f78536}.faculty-student{background-color:#1d556f}
.staff-student{background-color:#5c4b77}.stocker-arts-center-news{background-color:#cd4439}
.stocker-arts{background-color:#cd4439}.athletics{background-color:#764f51}.uncategorized{background-color:#003b76}
.business{background-color:#999}.lccc-news{background-color:#620808}.lccc-student-news{background-color:#f78536}
.event-time{font-weight:bold}.event-title{margin-bottom:0}td.day a.datelink{color:#003b76;text-decoration:none}
td.day a.datelink-currentday{color:#fff;text-decoration:none}h3.calendar-list-header{text-decoration:underline}
h4.calendar-month-subheader{text-decoration:underline;text-align:center}h5.event-title{margin-top:-6px;font-size:1.7rem;font-weight:bold;color:#003b76;text-decoration:underline}
p.event-time{font-size:1.2rem}.eventslist a h3.eventtitle{color:#008cba}.eventslist a{color:#008cba;text-decoration:underline}