/*Section 6 Text */
p{
  word-break: break-word;
	font-family: 'Lato', sans-serif;
}

a{
font-family: 'Lato', sans-serif;
}

.top-bar-section ul li>a {
font-family: 'Lato', sans-serif;
}
h1 ,h2 ,h3, h4, h4 ,h5, h6 ,h7 {
font-family: 'Raleway', sans-serif;
}
.tag a h7{color:#ffffff;}
.campus-wide{background-color: #000000;}
.students{background-color: #F78536;}
.faculty-student{background-color: #1D556F;}
.staff-student{background-color: #5C4B77;}
.stocker-arts{background-color: #CD4439;}
.athletics{background-color: #764F51;}
.uncategorized{background-color:#003B76;}
.business{background-color: #38817A;}
.lccc-news{background-color: #620808;}
.event-time{font-weight: bold;}
.event-title{margin-bottom: 0;}
td.day a.datelink{color: #003B76; text-decoration: none;}
td.day a.datelink-currentday{color: #ffffff; text-decoration: none;}
h3.calendar-list-header{text-decoration: underline;}
h4.calendar-month-subheader{text-decoration: underline; text-align: center;}
h5.event-title{margin-top: -6px; font-size: 1.7rem;font-weight: bold;color: #003B76; text-decoration: underline;}
p.event-time{font-size: 1.2rem;}