/*Section 6 Text */
p{
  word-break: break-all;
	font-family: 'Lato', sans-serif;
}

a{
font-family: 'Lato', sans-serif;
}

.top-bar-section ul li>a {
font-family: 'Lato', sans-serif;
}
h1 ,h2 ,h3, h4, h4 ,h5, h6 ,h7 {
font-family: 'Raleway', sans-serif;
}
.tag a h7{color:#ffffff;}
.campus-wide{background-color: #000000;}
.students{background-color: #F78536;}
.faculty-student{background-color: #1D556F;}
.staff-student{background-color: #5C4B77;}
.stocker-arts{background-color: #CD4439;}
.athletics{background-color: #764F51;}
.uncategorized{background-color:#003B76;}
.business{background-color: #38817A;}
.lccc-news{background-color: #620808;}