/* Color Section : LCCC Color Scheme */
$midpoint-campus-center-news-bg:#72DB3A; 
$lccc-sports-and-recreation-news-bg: #764F51; 
$campus-wide-bg: #000000; 
$students-bg: #F78536; 
$faculty-student-bg: #1D556F; 
$staff-student-bg: #5C4B77; 
$stocker-arts-center-news-bg: #CD4439; 
$stocker-arts-bg: #CD4439; 
$athletics-bg: #764F51; 
$uncategorized-bg: #003B76; 
$business-bg: #999999; 
$lccc-news-bg: #620808; 
$lccc-student-news-bg: #F78536; 
