/* Section 5 - Footer Area */
footer{ background: #333;}
.footerrow{
    padding-top: 0;
    padding-bottom: 0;	
				background: #333;
				color: #fff;
	   margin-top: 20px;
}
.footer-copyright p{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 20px;
}