/*! Section 3 - Header */div.cutline{border-top:solid 1px #acacac;border-bottom:solid 1px #acacac;margin-left:auto;margin-right:auto;text-align:center;padding-top:2px;margin-top:15px}
header{border-bottom:1px inset #000;padding:0}.headerholder{padding-left:0;padding-right:0}
.site-title{font-size:1.1em;line-height:.9em;color:#202020;font-weight:bold;letter-spacing:2px;text-transform:uppercase}
div.cutline a{color:#202020}div.cutline a:visited{color:#202020}.site-branding img{margin:auto;display:block;vertical-align:middle;margin-top:10px}
.entry-header{border-bottom:0}